
*{
    box-sizing:border-box;
}
body
{
margin: 0;
padding: 0;
 display:flex;
 justify-content:center;
 align-items:center;
}

.main-container {
    max-width: 590px;
    min-width: 580px;
    height: 450px;
    background-color: #ece9e9;
    box-shadow: 1px 3px 8px;
}
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px;
    padding:10px;
}
.header-section p{
    margin-bottom:0px;
}
    .header-section button {
        border: none;
        background: transparent;
    }

        .header-section button:hover {
            background: red;
            cursor:pointer;
            color:#fff;
        }
.button-group {
    background-color: #2196f3;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
    .button-group button {
        margin: 5px 5px;
        cursor: pointer;
        border: none;
    }

        .button-group button:hover {
            background-color: #ffc107;
            color: #fff;
        }

.table-container {
    height: 366px;
    background-color: #fff;
}
table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
 
    text-align: left;
}
th{
    position:sticky;
    top:0;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
}

#t01 tr:nth-child(odd) {
    background-color: #fff;
}

#t01 th {
    background-color: black;
    color: white;
}

.active, .btn:hover {
    background-color: #666;
    color: white;
}