@page "/"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="main-container">
    <form >
        <label for="fname">First name:</label><br>
        <input type="text" id="name" value=""><br><br>
        
        <input type="submit" value="Submit" @onclick="HandleSubmit" @onclick:preventDefault="true"  >
    </form>

    <div class="header-section">
        <p>Table</p>
        <button>&#935;</button>
    </div>
    <div class="button-group">
        <button>Edit</button>
        <button>Delete</button>
        <button>Close</button>
    </div>
    <div class="table-container">

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name<span class="name-span" @onclick="HandleFilterList"><i class="fas fa-filter"></i></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-data" class="table-data">
            </tbody>
        </table>

    </div>

    <ul class="filter-list">

    </ul>

</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("logUser");
        }
    }

    public async void HandleSubmit()
    {
        await JSRuntime.InvokeVoidAsync("setInputTextToTable");
        StateHasChanged();
    }
    public async void HandleFilterList()
    {
        await JSRuntime.InvokeVoidAsync("dropDownFilterList");
        StateHasChanged();
    }

}
