@page "/"

<div class="table-container">

   <div class="header-section">
       <p>Table</p>
      <button>&#935;</button>
   </div>

</div>
<table style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table-data">

    </tbody>
</table>